
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

#game_container {
  height: 500px;
  width: 1300px;
  position: relative;
  background-image: url("../images/Ask_Riot_Winter_Rift_Banner.jpg");
  background-position: center;
  background-size: cover;
}

#game_container #khazix {
  height: 70px;
  width: 70px;
  position: absolute;
  bottom: 28px;
  left: 20px;
}

#khazix img {
  height: 70px;
  width: 70px;
  
}

.khazixanim {
  animation: khazixanim 0.5s linear infinite;
}

@keyframes khazixanim {
  0%,100% {
      bottom: 28px;
  }
  45%,55% {
      bottom: 160px;
  } 
}

#game_container #teemo {
  height: 80px;
  width: 130px;
  position: absolute;
  bottom: 20px;
  right: -20px;
}

#teemo img {
  height: 80px;
  width: 100px;
}

.teemoanim {
  animation: teemoanim 1s linear infinite;
}

@keyframes teemoanim {
  0% {
      right: -125px;
  }
  100% {
      right: 100%;
  }
}

#game_container #floor {
  height: 30px;
  width: 1200px;
  position: absolute;
  bottom: 0;
}

@keyframes animFloor {
  0% {
      left: 0;
  }
  100% {
      left: -800px;
  }
}


#luckyblock img {
  height: 80px;
  width: 80px;
  position: absolute;
  left: -2000px;
  animation: none;
}


#score {
  height: auto;
  width: auto;
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 1.2rem;
}

#gameover {
  display: none;
  font-size: 3.5rem;
  position: absolute;
  left: calc(50% - 181px);
  top: calc(50% - 40px);
  width: 400px;
  height: 80px;
}

#controls {
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  top: 20px;
  height: auto;
  width: auto;
}

#score,#gameover,#controls{
  color:white;
  font-weight: bold;
}